name: UAR Nala Daily Run

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags, if empty all tests will run. i.e., @marquee'
        required: false
        type: string
      platform:
        description: 'Platform to run tests on; select one, options: [ubuntu-latest, windows-latest, macos-latest]'
        required: true
        type: string

jobs:
  platform_matrix:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    name: Running tests
    runs-on: ${{ matrix.os }}
    env:
      WORKFLOW_NAME: 'UAR Nala Daily Run'
      DAILY_RUN: 'true'

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
        
      - name: Run Nala ${{ matrix.os }}
        run: bash dailyrun.sh uar @uar-quiz-basic
        env:
          IMS_EMAIL: ${{ secrets.IMS_EMAIL }}
          IMS_PASS: ${{ secrets.IMS_PASS }}
          HLX_TKN: ${{ secrets.HLX_TKN }}
          SLACK_WH: ${{ secrets.SLACK_WH }}
      
      - name: Display workflow name
        run: echo "The workflow name is $WORKFLOW_NAME"
        
      - name: Persist JSON Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: nala-results
          path: nala-results.json
          retention-days: 30
